#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config VENDOR_REALME
	bool "REALME support"
	help
	  This feature enables Realme specific hacks

source "arch/$SRCARCH/Kconfig"
