
#ifdef CONFIG_VENDOR_REALME
#Added by Tong.han@Bsp.group.Tp for synaptics ic driver

#config TOUCHPANEL_OPPO
#	default y
#	bool "TP Synaptics "
#	---help---
#	say Y to enable driver for Touchpanel useing Synaptics_IC

#endif

